<nav id="top-nav" class="navbar navbar-expand-md navbar-light bg-light flex-md-nowrap flex-wrap">
    <div class="container justify-content-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse flex-grow-1 justify-content-center" id="collapsingNavbar3">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link{% if page.url == '/' %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if page.url contains '/publications' %} active{% endif %}" href="{{ '/publications' | relative_url }}">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if page.url contains '/presentations' %} active{% endif %}" href="{{ '/presentations' | relative_url }}">Presentations</a>
                </li>
                <!-- Dropdown for Research -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle{% if page.url contains '/research' %} active{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Research
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ '/research-index' | relative_url }}">Language Families</a></li>
                        <li><a class="dropdown-item" href="{{ '/research/zangskari' | relative_url }}">Zangskari</a></li>
                        <li><a class="dropdown-item" href="{{ '/research/ladakhi' | relative_url }}">Ladakhi</a></li>
                        <li><a class="dropdown-item" href="{{ '/research/azamgarhi' | relative_url }}">Azamgarhi</a></li>
                        <li><a class="dropdown-item" href="{{ '/research/bhojpuri' | relative_url }}">Bhojpuri</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if page.url contains '/resources' %} active{% endif %}" href="{{ '/resources' | relative_url }}">Resources</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
