---
---

@import "{{ site.theme }}";

.home-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 300px; /* Adjust as needed */
}

.text-content {
  flex-grow: 1;
  padding-right: 20px; /* adjust as needed */
}

.profile-photo {
  flex-basis: 200px; /* adjust width as needed */
}

.profile-photo img {
  width: 100%;
  height: auto;
}


.options-button {
    display: none !important;
}
