<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="keywords" content="{{ page.keywords | default: 'Maaz Ahmad Shaikh, linguistics, language documentation, language revitalization, Zangskari, Ladakhi, Azamgarhi, University of Alberta' }}">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="robots" content="index,follow">
    
    <!-- Title + Icon -->
    <title>{{ page.title | default: site.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/images/MS_F_favicon.png' | relative_url }}">
    
    <!-- Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <!-- Google Analytics Tag (gtag.js)-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=212983173"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '212983173');
    </script>
</head>

<body>
    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Content -->
    <div class="container" id="main-content">
        {{ content }}
    </div>

    <!-- Footer -->
    {% include footer.html %}

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
