<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="Maaz Ahmad Shaikh, linguistics, language documentation, language revitalization, Zangskari, Zanskari, Ladakhi, Azamgarh, Azamgarhi, Ladakh, Zangskar, Zanskar, Awadhi, University of Alberta">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="robots" content="index,follow">
    
    <!-- Title + Icon -->
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/images/MS_F_favicon.png' | relative_url }}">
    
    <!-- Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <!-- Google Analytics Tag (gtag.js)-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=212983173"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '212983173');
    </script>

    <!-- Bottom rounded button -->
    <div class="options-button" id="options-toggler"><i class="fa-light fa-arrows-repeat"></i></div>
    <div class="options-button" id="theme"><i class="fa-duotone fa-lightbulb"></i></div>
</head>

<body>
    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Main Content with Sidebar -->
    <div class="container" id="main-content">
        <div class="row">
            <!-- Left Panel: Profile -->
            <div id="leftPanel" class="col-md-3">
                <img src="{{ '/images/profile-photo.jpg' | relative_url }}" class="rounded me-auto d-block img-fluid profilepicture" alt="Maaz Ahmad Shaikh's profile picture">

                <h3 class="mb-2">Maaz Shaikh</h3>

                <p class="mb-4">PhD Candidate and Teaching Assistant at the <a href="https://www.ualberta.ca/index.html" class="link-dark" target="_blank">University of Alberta</a>.</p>

                <div class="row mb-2">
                    <div class="col-1">
                        <i class="fal fa-map-marker-alt" aria-hidden="true"></i>
                    </div>
                    <div class="col-10">
                        <span>4-23 Assiniboia Hall, Department of Linguistics, University of Alberta, Edmonton, AB, Canada T6G 2E7</span>
                    </div>
                </div>

                <!-- CV Link - FIXED -->
                <div class="row mb-2">
                      <div class="col-1">
                        <i class="ai ai-cv" aria-hidden="true"></i>
                      </div>
                      <div class="col-10">
                        <a href="{{ '/documents/CV_Maaz_Shaikh_2026.pdf' | relative_url }}" class="link-dark" target="_blank">
                          CV [Updated {{ page.cv_date | default: '01/2026' }}]
                        </a>
                      </div>
                    </div>
                    
                    <!-- Resume Link - FIXED -->
                    <div class="row mb-2">
                      <div class="col-1">
                        <i class="fa-regular fa-file-lines" aria-hidden="true"></i>
                      </div>
                      <div class="col-10">
                        <a href="{{ '/documents/Resume_Maaz_Shaikh_2026.pdf' | relative_url }}" class="link-dark" target="_blank">
                          Resume (industry/work)
                        </a>
                      </div>
                    </div>

                <!-- Email - OBFUSCATED -->
                <div class="row mb-2">
                    <div class="col-1">
                        <i class="fa-regular fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="col-10">
                        <span class="link-dark">maazahma [at] ualberta [dot] ca</span>
                    </div>
                </div>

                <div class="social-media-links">
                    <div class="row mb-2">
                        <div class="col-1">
                            <i class="fa-brands fa-twitter" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <a href="https://twitter.com/{{ site.author.twitter }}" class="link-dark" target="_blank">Twitter</a>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <i class="fa-brands fa-github" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <a href="https://github.com/{{ site.author.github }}" class="link-dark" target="_blank">GitHub</a>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <a href="https://www.linkedin.com/in/maaz-shaikh-414453141" class="link-dark" target="_blank">LinkedIn</a>
                        </div>
                    </div>

                    <!-- YouTube Link - FIXED -->
                    <div class="row mb-2">
                        <div class="col-1">
                            <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <a href="https://www.youtube.com/@maazahmadshaikh" class="link-dark" target="_blank">YouTube</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Panel: Main Content -->
            <div class="col-md-9">
                {{ content }}
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include footer.html %}

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
